.alta-form{
    background-color: #272534;
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    color: white;

    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
}

.input-group{

    padding: 3px;
    text-align: center;
}
main label{
    color: white;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
}
main label[for="envio"]{
    display: inline-block;
    margin: 10px 0;
}
main button{
    display: block;
    margin: auto;

    height: 40px;
    width: 40%;
    background-color: #307821;
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 5px;
    outline: none;
}
main button:active{
    background-color: #344e29;
    border: solid 2px rgb(67, 65, 65);

}

main input[type="text"]{
    width: 70%;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: gray;
}
main input[type="checkbox"]{
    width: 20px;
    height: 20px;
}


main select{
    width: 70%;
    height: 26px;
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
}

/* -------maquetado de tabla ------------ */
th, td{
    border: 1px solid black;
    height: 30px;
    font-size: 100%;
    
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 5px auto;
}

th{
    text-transform: uppercase;
    background-color: rgb(24, 23, 23);
    color: white;
}

td{
    text-align: left;
    padding-left: 8px;
    text-transform: uppercase;
}
.imagenes-tabla{
    width: 100px;
}