label[for = "opciones"]{
    font-size: 22px;
    font-weight: bold;

    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    gap: 12px;

    border: 1px  black;

    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;

    text-transform: uppercase;

    user-select: none;

    border-bottom: 2px solid transparent;
}
select[id="opciones"]:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;

    font: inherit;

    outline: none;

    cursor: pointer;

    transition: 0.2s;

    box-sizing: border-box;
    
    border-bottom: 2px solid rgb(255, 255, 255, 0);
}
select[id="opciones"]:nth-child(1):hover{
    border-bottom: 2px solid black;
    box-sizing: border-box;
}

.section-cards-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 6px;

    place-items: center;
}
@media(max-width: 1500px){
    .section-cards-body{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    h3{
        font-size: 16px;
    }
}
@media(max-width: 1000px){
    .section-cards-body{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    h3{
        font-size: 15px;
    }
}
@media(max-width: 900px){
    .section-cards-body{
    grid-template-columns: 1fr 1fr 1fr;
    }
    section{
        font-size: 14px;
    }

}
@media(max-width: 550px){
    .section-cards-body{
    grid-template-columns: 1fr 1fr;
    }
    .section-cards-body{
        font-size: 12px;
    }
    label[for = "opciones"]{
        display: flex;
        flex-direction: column;
        width: 100% ;
    }
    label[for = "opciones"] select{
        width: 100%;
    }
}

section{
    margin-bottom: 22px;

    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;

    width: 90%;
    height: auto;

    display: inline-block;
    text-align: center;
    color: white;
    background-color: #272534;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.2fr auto;
    transition: 0.2s;

    color: white;
}
section h3{
    width: 100%;
    height: 54px;
    font-size: 24px;
    font-weight: bold;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

    padding-left: 6px;
}
section:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px 20px rgba(29, 24, 24, 0.9);

}

section ul{
    grid-row: 3/5;
    padding: 0;

    padding-left:6px ;
    padding-right:6px ;

    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 6px;
    padding-bottom: 6px;

}

section ul li{
    list-style: none;
    text-align: left;
    color: white;
}
section ul li:nth-child(1){
    
}
section ul li:nth-child(3){

}
section ul li:nth-child(4),section ul li:nth-child(5),section ul li:nth-child(6){
    
}

section h3{

}
#foto-card{
    width: 100%;
    max-height: 200px;
}