@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}
html{
    margin: 0;
    width: 100%;
    height: auto;
}
body, ul{
    margin: 0;
}
body{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-family: "Roboto", sans-serif;

    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10vh;
    color: black;
    padding-left: 2px;
    padding-right: 2px;

    background-color: rgb(29, 29, 29);
    box-shadow: -10px 10px 10px rgba(0,0,0,0.5);

    z-index: 1;
}
header nav{ 
    width: 100%;
    height: 60%;
}

header nav ul{
    width: 90%;
    height: 100%;
    
    margin: auto;
    list-style: none;

    padding: 0;
    
    display: flex;
    justify-content: space-evenly;
    gap: 5px;

}
header nav ul li{
    width: 17%;
    height: 50px;

    display: grid;
    justify-content: center;

    font-size: 22px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
header nav ul li a{
    text-decoration: none;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

}


#barra-de-busqueda{
    width: 100%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#barra-de-busqueda #buscador{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#barra-de-busqueda #buscador #rectangulo-buscar{
    width:  83%;
    height: 80%;

    font-size: 18px;
    color: rgb(19, 18, 18);

    margin-right: 6px;
    padding-left: 4px;

    outline: none;
}
#barra-de-busqueda #buscador #lupa-busqueda{
    filter: invert(100%);
    height: 80%;
    margin-left: 4px;
}


#barra-de-busqueda #logo{
    height: 100%;
}
#barra-de-busqueda #logo img{
    height: 100%;

    filter: invert(100%);
}

#barra-de-busqueda #boton-carrito{
    height: 100%;
}
#barra-de-busqueda #boton-carrito img{
    filter: invert(100%);
    height: 100%;
}
/* --------------------------------------- */

main{
    width: 100%;
    height: auto;
    flex-grow: 1;
    padding-left:8px;
    padding-right: 8px;

    overflow: auto;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;

    background-color:beige;
}
h1{
    margin: 8px auto;
    font-size: 36px;
}

.section-cards-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 6px;
}
section{
    margin-bottom: 4px;

    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;

    width: 100%;
    height: 400px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: rgb(53, 43, 43);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr 2fr;
}

section ul{
    grid-row: 3/5;
    padding: 0;

    padding-left:6px ;
    padding-right:6px ;
}

section ul li{
    list-style: none;
    text-align: left;
}
section ul li:nth-child(1){
    list-style: none;
    text-align: left;

    font-weight: 800;
    color: white;
}
h3{
    width: 100%;
    height: 100%;
    text-decoration: underline;
    text-transform: capitalize;
    margin: 0;

    display: flex;
    justify-content: left;
    align-items: top;

    padding: 8px;
}
#foto-producto{
    width: 100%;
    height: 190px;
}
/* --------------------------------------- */
footer{
    width: 100%;
    height: 8vh;
    background-color: rgb(29, 29, 29);
}
footer h3{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}